.container{
    padding: 30px;
    text-align: center;
    width: 100%;
}
.heading{
    /* background: blueviolet; */
    /* background-clip: text; */
    /* color: transparent; */
    font-size: 30px;
    font-weight: bold;
}

